apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: imagen-tarjeta-api
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/jqfelipe/net-argo-example.git
    targetRevision: dev
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:

      - CreateNamespace=true
