
apiVersion: apps/v1
kind: Deployment
metadata:
  name: imagen-tarjeta-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: imagen-tarjeta-api
  template:
    metadata:
      labels:
        app: imagen-tarjeta-api
    spec:
      imagePullSecrets:
        - name: acr-pull-secret
      containers:
        - name: imagen-tarjeta-api
          image: arqcontainerregbncr.azurecr.io/api-imagen-tarjetas:latest
          ports:
            - containerPort: 8080
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"
            - name: ASPNETCORE_URLS
              value: http://+:8080
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10





